html {
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

header {
	display: flex;
	align-items: center;
	background: rgba(6, 9, 16, .8);
	width: 100%;
}

h1 {
	flex-basis: 45%;
	text-align: center;
	color: rgba(255, 255, 255, .8);
}

h2 {
	flex-basis: 45%;
	text-align: center;
	color: rgba(0, 0, 0, .8);
}


nav {
	flex-basis: 55%;
}

#main-menu {
	list-style: none;
    padding: 0;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#main-menu li {
	padding: 10px;
    margin: 0 3%;
}

#main-menu a {
	text-decoration: none;
	color: rgba(255, 255, 255, .7);
	font-size: 18px;
}

main {
color: rgba(81,81,81, .8);
}


section {
	flex-basis: 70%;
}

article {
	display: flex;
	flex-direction: column;
	margin: 3% 0;
}

article p{
	text-align: center;
	
}



footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	background: rgba(22, 22, 23, .8);
}

footer p {
	color: rgba(255, 255, 255, .7);
}

#contact-footer {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0 30px;
}

#contact-footer i {
	font-size: 24px;
	color: white;
}

@media (max-width: 800px){
	main {
		flex-direction: column;
	}
	
	article {
		flex-basis: 100%;
	}
	
	aside {
		flex-basis: 100%;
	}
}

#main-menu li:hover {
	background: rgba(22, 22, 23, .3);
}