html, body {
	font-family: 'JetBrains Mono', monospace;
	
	background-color: #EEFFF4;
	
	padding: 0;
	margin: 0;
}

header, h1, h2, nav, ul, main, article, aside, footer {
	#border: 1px solid black;
}

header, main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header, nav{
	background-color: #518B66;
	color: #DFFFEA;
	
	text-decoration: none;
	
	height: 5%;
	width: 100%;
}

#title {
	flex-basis: 30%;
	
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 55px;
	
	margin: 2%;
}

h2 {
	text-align: center;
	font-size: 35px;
	
	margin-top: 0;
}

nav {
	flex-basis: 60%;
	width: 100%;
}

#main-menu {
	list-style: none; 
	
	padding: 0;
	margin: 0 5%;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	
	align-items: center;
	align-content: center;
}

#main-menu li {
	padding: 10px;
	margin: 0 3%;
}

#main-menu a {
	text-decoration: none;
	
	color: #DFFFEA;
	font-size: 32px;
}

#main-menu li:hover {
	background-color: #3C6F4F;
	border-radius: 15px;
}

main section {
	margin: 5% 0;
	
	width: 100%;
}

footer {
	display: flex;
	justify-content: space-between;
	
	background-color: #518B66;
	
	height: 100px;
}

footer p{
	margin: 15px 0 15px 5%;
	
	color: #DFFFEA;
	font-size: 32px;
	
	display: flex;
	align-items: center;
}

#contact-footer {
	list-style: none;
	
	padding: 0 5%;
	margin: 0 5% 0 0;
	
	display: flex;	
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

#contact-footer li {
	list-style: none;
  
	padding: 0;
    margin: 0 100px;
}

.container {
	position: relative;
}

.container img {
	position: absolute;
	transition: opacity .2s ease-in-out;
	height: 65px;
	width: 65px;
	
	margin: -30px 5px 5px -30px;
}

.container img.top:hover {
  opacity: 0;
}

@media (max-width: 600px) {
	main{
		flex-direction: column;
	}
	
	h1, nav, article, aside {
		flex-basis: 100%;
	}
}