h2{
	text-align: center;
	font-size: 80px;
}

#about-me h2 {
	text-align: center;
	font-size: 60px;
}

#Pol-Photo img {
	width: 350px;
	height: 350px;
	border-radius: 15%;
	margin: 30px;
}
#separator {
	margin: -20px 0 5px 0;
	width: 50%;
	height: 10px;
	background: rgba(22, 22, 23, .8);	
}

.body-text p {
	margin: 3% 10%;
    text-align: justify;
    font-size: 32px;
}


#contact-presentation-list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0 30%;
	align-items: center;
	justify-content: space-between;
}

#contact-presentation-list i {
	font-size: 48px;
	color: rgba(22, 22, 23, .8);
}


#modules-list p {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}



#contact-presentation-list i:hover {
	color: rgb(29, 161, 242);
}
